div(class="passengerInfoContainer")
	
	div(class="passengerCardContainer")
		div(class="passengerCard")
			div(class="passengerTitle") #{`${passengerInfo.Title} ${passengerInfo.FirstName} ${passengerInfo.LastName}`}
			div(class="passengerCardContent")
				div(class="passengerInformationContainer")
					div(class="informationType") Nationality 
					div(class="passengerInformation") #{passengerInfo.NationalityCountry} 
				div(class="passengerInformationContainer")
					div(class="informationType")  Phone Number 
					div(class="passengerInformation") #{passengerInfo.PhoneNumber}
				div(class="passengerInformationContainer")
					div(class="informationType")  Date Of Birth 
					div(class="passengerInformation") #{passengerInfo.DateOfBirth} 
		

