div(style="background-image:url('images/traccia_verticale.png');background-position:top center;background-repeat:no-repeat;background-color:#F2F2F2;")
  .block-grid(style='Margin: 0 auto; min-width: 320px; max-width: 650px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: transparent;;')
    div(style='border-collapse: collapse;display: table;width: 100%;background-color:transparent;')
      //if (mso)|(IE)
        table(width='100%', cellpadding='0', cellspacing='0', border='0', style="background-image:url('images/traccia_verticale.png');background-position:top center;background-repeat:no-repeat;background-color:#F2F2F2;")
          tbody
            tr
              td(align='center')
                table(cellpadding='0', cellspacing='0', border='0', style='width:650px')
                  tbody
                    tr.layout-full-width(style='background-color:transparent')
      //if (mso)|(IE)
        table(width='100%', cellpadding='0', cellspacing='0', border='0')
          tbody
            tr
              td(style='padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:0px;')
      .col.num12(style='min-width: 320px; max-width: 650px; display: table-cell; vertical-align: top;;')
        div(style='width:100% !important;')
          // [if (!mso)&(!IE)] <!
          div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:5px; padding-bottom:0px; padding-right: 0px; padding-left: 0px;')
            // <![endif]
            .img-container.center.autowidth.fullwidth(align='center', style='padding-right: 0px;padding-left: 0px;')
              //if mso
                table(width='100%', cellpadding='0', cellspacing='0', border='0')
                  tbody
                    tr(style='line-height:0px')
                      td(style='padding-right: 0px;padding-left: 0px;', align='center')
              img.center.autowidth.fullwidth(align='center', alt='Image', border='0', src='images/rounded_top.png', style='outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; clear: both; border: 0; height: auto; float: none; width: 100%; max-width: 650px; display: block;', title='Image', width='650')
              //if mso
              // [if (!mso)&(!IE)] <!
              // <![endif]
              //if (mso)|(IE)
              //if (mso)|(IE)
    div(style='background-color:#F2F2F2;')
    .block-grid.mixed-two-up(style='Margin: 0 auto; min-width: 320px; max-width: 650px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: #FFFFFF;;')
    div(style='border-collapse: collapse;display: table;width: 100%;background-color:#FFFFFF;')
      //if (mso)|(IE)
        table(width='100%', cellpadding='0', cellspacing='0', border='0', style='background-color:#F2F2F2;')
          tbody
            tr
              td(align='center')
                table(cellpadding='0', cellspacing='0', border='0', style='width:650px')
                  tbody
                    tr.layout-full-width(style='background-color:#FFFFFF')
      //if (mso)|(IE)
        table(width='100%', cellpadding='0', cellspacing='0', border='0')
          tbody
            tr
              td(style='padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px;')
      .col.num4(style='display: table-cell; vertical-align: top; max-width: 320px; min-width: 216px;;')
        div(style='width:100% !important;')
          // [if (!mso)&(!IE)] <!
          div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:1px solid #DDDDDD; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')
            // <![endif]
            .img-container.center.fixedwidth(align='center', style='padding-right: 0px;padding-left: 15px;')
              //if mso
                table(width='100%', cellpadding='0', cellspacing='0', border='0')
                  tbody
                    tr(style='line-height:0px')
                      td(style='padding-right: 0px;padding-left: 15px;', align='center')
              //- img.center.fixedwidth(align='center', alt='Image', border='0', src='images/tick.png', style='outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; clear: both; border: 0; height: auto; float: none; width: 100%; max-width: 53px; display: block;', title='Image', width='53')
              //if mso
              // [if (!mso)&(!IE)] <!
              // <![endif]
              //if (mso)|(IE)
              //if (mso)|(IE)
                table(width='100%', cellpadding='0', cellspacing='0', border='0')
                  tbody
                    tr
                      td(style='padding-right: 0px; padding-left: 0px; padding-top:0px; padding-bottom:5px;')
              .col.num8(style='display: table-cell; vertical-align: top; min-width: 320px; max-width: 432px;;')
                div(style='width:100% !important;')
                  // [if (!mso)&(!IE)] <!
                  div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:0px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;')
                    // <![endif]
                    //if mso
                      table(width='100%', cellpadding='0', cellspacing='0', border='0')
                        tbody
                          tr
                            td(style="padding-right: 10px; padding-left: 10px; padding-top: 0px; padding-bottom: 3px; font-family: 'Trebuchet MS', Tahoma, sans-serif")
                    div(style="color:#1f3379;font-family:'Oxygen', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;line-height:120%;padding-top:0px;padding-right:10px;padding-bottom:3px;padding-left:10px;")
                      div(style="font-size: 12px; line-height: 14px; font-family: 'Oxygen', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; color: #1f3379;")
                        p(style='font-size: 14px; line-height: 21px; margin: 0;')
                          span(style='font-size: 18px;')
                            strong #{flightDetail.origin} TERMINAL #{flightDetail.orgTerminal} / #{flightDetail.destination} TERMINAL #{flightDetail.destTerminal}
                    //if mso
                    //if mso
                      table(width='100%', cellpadding='0', cellspacing='0', border='0')
                        tbody
                          tr
                            td(style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px; font-family: 'Trebuchet MS', sans-serif")
                    div(style="color:#555555;font-family:'Raleway', 'Trebuchet MS', Helvetica, sans-serif;line-height:120%;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;")
                      div(style="font-size: 12px; line-height: 14px; color: #555555; font-family: 'Raleway', 'Trebuchet MS', Helvetica, sans-serif;")
                        p(style='font-size: 14px; line-height: 16px; margin: 0;') Carry On: #{flightDetail.carryOnBaggage}
                    //if mso
                    //if mso
                      table(width='100%', cellpadding='0', cellspacing='0', border='0')
                        tbody
                          tr
                            td(style="padding-right: 25px; padding-left: 10px; padding-top: 0px; padding-bottom: 0px; font-family: 'Trebuchet MS', Tahoma, sans-serif")
                    div(style="color:#60B2E1;font-family:'Oxygen', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;line-height:120%;padding-top:0px;padding-right:25px;padding-bottom:0px;padding-left:10px;")
                      div(style="font-size: 12px; line-height: 14px; font-family: 'Oxygen', 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif; color: #60B2E1;")
                        p(style='font-size: 14px; line-height: 16px; margin: 0;')
                          strong
                            span(style='font-size: 13px; line-height: 15px; mso-ansi-font-size: 14px;') Departure #{flightDetail.departureDateTime} / Arrival #{flightDetail.arrivalDateTime}
                    //if mso
                    //if mso
                      table(width='100%', cellpadding='0', cellspacing='0', border='0')
                        tbody
                          tr
                            td(style="padding-right: 25px; padding-left: 10px; padding-top: 0px; padding-bottom: 0px; font-family: 'Trebuchet MS', sans-serif")
                    div(style="color:#555555;font-family:'Raleway', 'Trebuchet MS', Helvetica, sans-serif;line-height:120%;padding-top:0px;padding-right:25px;padding-bottom:0px;padding-left:10px;")
                      div(style="font-size: 12px; line-height: 14px; color: #555555; font-family: 'Raleway', 'Trebuchet MS', Helvetica, sans-serif;")
                        p(style='font-size: 14px; line-height: 16px; margin: 0;')  
                    //if mso
                    // [if (!mso)&(!IE)] <!
                    // <![endif]
                    //if (mso)|(IE)
                    //if (mso)|(IE)